Lab_4/WcfServiceClient/Connected Services/ServiceReference1/Lab41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:34506/Lab4?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" />
  <xs:element name="DodajLZ">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="n1" nillable="true" type="q1:LiczbaZ" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="n2" nillable="true" type="q2:LiczbaZ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DodajLZResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="DodajLZResult" nillable="true" type="q3:LiczbaZ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>