Lab_4/WcfServiceClient/Connected Services/ServiceReference1/Lab42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LiczbaZ">
    <xs:sequence>
      <xs:element minOccurs="0" name="Opis" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="czescR" type="xs:double" />
      <xs:element minOccurs="0" name="czescU" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LiczbaZ" nillable="true" type="tns:LiczbaZ" />
</xs:schema>