Lab_3/WcfServiceClient/Connected Services/ServiceReference1/Kavetskyy.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="dajOpis">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nazwisko" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="imie" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="iii" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dajOpisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dajOpisResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>