Lab_3/WcfServiceClient/Connected Services/ServiceReference2/Kavetskyy1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="proc111">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="i" type="xs:int" />
        <xs:element minOccurs="0" name="d" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="proc111Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="proc111Result" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>